# CONFIG_EFI_CAPSULE_ON_DISK is not set
CONFIG_SYSRESET=y
CONFIG_SYSRESET_CMD_RESET=y
# CONFIG_SYSRESET_CV1800B is not set
# CONFIG_POWEROFF_GPIO is not set
# CONFIG_SYSRESET_GPIO is not set
# CONFIG_SYSRESET_SYSCON is not set
CONFIG_SYSRESET_WATCHDOG=y
CONFIG_SYSRESET_WATCHDOG_AUTO=y
CONFIG_SYSRESET_RESETCTL=y
# CONFIG_SYSRESET_MPC83XX is not set
